<div id="barnav">
<div id="titlesidebar">
  <div id="logo">
    <img src="assets/logo_ecolo.png" width="60px" height="60px">
     EcoloPROJECT
  </div>
</div>
<div id="sideBar">
  <a  routerLink="/information">
    INFORMATIONS
  </a>
  <a  routerLink="/forum">
    FORUM
  </a>
  <a  routerLink="/annonce">
    ANNONCES
  </a>
  <a  routerLink="/boutique">
    BOUTIQUE
  </a>
  <a  routerLink="/panier">
    PANIER
  </a>
  <a  routerLink="/login">
    LOGIN
  </a>
  <a  routerLink="/admin">
    ADMIN
  </a>
</div>
</div>
<div class="background">
<router-outlet></router-outlet>
</div>
