<div>
  <div class="familleArticle">Vêtements</div>
  <div class="lotArticle">
  <div class="article">
    <img class="imageArticle" src="/assets/polo.jpg" width="80%"/>
    <div class="articleTitle">Veste à capuche</div>
    <div class="articleDescription">Taille S au XXXL, colorie au choix, matière coton et polyester</div>
    <div class="panier">
      <div class="price">EUR 30,00</div>
      <button>Panier</button>
    </div>
  </div>
  <div class="article">
    <img class="imageArticle" src="/assets/polo.jpg" width="80%"/>
    <div class="articleTitle">Veste à capuche</div>
    <div class="articleDescription">Taille S au XXXL, colorie au choix, matière coton et polyester</div>
    <div class="panier">
      <div class="price">EUR 30,00</div>
      <button>Panier</button>
    </div>
  </div>
  <div class="article">
    <img class="imageArticle" src="/assets/polo.jpg" width="80%"/>
    <div class="articleTitle">Veste à capuche</div>
    <div class="articleDescription">Taille S au XXXL, colorie au choix, matière coton et polyester</div>
    <div class="panier">
      <div class="price">EUR 30,00</div>
      <button>Panier</button>
    </div>
  </div>
</div>
</div>
